.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 6rem 0 2rem 0;
  width: 100%;
  max-width: 600px;
}

.no-posts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  h1 {
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 500;
  }
}