.credentials {
  display: flex;
  flex-direction: column;
  margin: 0rem 0 2rem 0;

  div + div {
    margin-top: 1.5rem;
  }

  input {
    background: transparent;
    font-size: 0.85rem;
    color: var(--black);
    margin-left: 1rem;
    flex: 1;

    &::placeholder {
      color: rgba(36, 36, 36, 0.5);
    }
  }
}

.input-icons {
  background: rgba(237, 237, 237, 0.5);
  border-radius: 0.3rem;
  padding: 0.7rem;
  display: flex;

  svg {
    stroke: var(--pink);
    height: 1.5rem;
    width: 1.5rem;
  }
}

.links-and-button {
  display: flex;
  align-items: center;

  p, button {
    font-size: 0.85rem;
  }

  p {
    color: var(--black);
  }

  button {
    color: var(--white);
    background: var(--pink);
    font-weight: 500;
    padding: 0.6rem 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}

.links {
  display: flex;
  align-items: center;
  margin-right: 4rem;

  p + p {
    margin-left: 2rem;
  }
}