.user-data {
  display: flex;
  flex-direction: column;

  input {
    background: transparent;
    font-size: 0.8rem;
    color: rgba(254, 255, 254, 0.5);
    outline: 1.5px solid rgba(254, 255, 254, 0.5);
    border-radius: 0.3rem;
    padding: 0.7rem;
  }
}

.name {
  display: flex;
  margin-bottom: 1.5rem;

  .input-label + .input-label {
    margin-left: 2rem;
  }
}

.input-label {
  display: flex;
  flex-direction: column;
  
  label {
    color: var(--white);
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
}

.username-password {
  .input-label + .input-label {
    margin-top: 1.5rem;
  }
}

.link-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;

  p, a, button {
    font-size: 0.85rem;
  }

  p, button {
    color: var(--white);
  }

  a {
    color: var(--pink);
    font-weight: 500;
  }

  button {
    background: var(--pink);
    padding: 0.6rem 0.8rem;
    border-radius: 0.5rem;
    color: var(--white);
    font-weight: 500;
    cursor: pointer;
  }
}