.page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: var(--white);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.logo {
  font-family: 'Oleo Script', cursive;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--pink);
}

.content-wrapper {
  padding: 8rem 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  transform: translateY(-2rem);

  h1 {
    font-size: 1.5rem;
    color: var(--black);
    margin-bottom: 3rem;
  }
}