.react-modal-content {
  outline: 0;
  height: 70%;
  width: 80%;
  max-width: 1000px;
  position: fixed;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  transform: translate(-50%, -50%);
}

.react-modal-overlay {
  background: rgba(36, 36, 36, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.close-button {
  position: absolute;
  top: 0;
  right: -25%;
  top: -25%;
  height: 2rem;
  width: 2rem;
  color: var(--white);
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--white);
  border-radius: 1rem;
  overflow: hidden;
}