.post {
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: 0.5rem;
}

.post + .post  {
  margin-top: 2rem;
}

.photo-username {
  display: flex;
  align-items: center;
  padding: 1rem;

  img {
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
  }

  p {
    color: var(--black);
    font-size: 0.9rem;
    font-weight: 500;
    margin-left: 0.5rem;
  }
}

.post-image {
  position: relative;
  height: 700px;

  @media (max-width: 720px) {
    height: 600px;
  }

  @media (max-width: 600px) {
    height: 500px;
  }
}

.buttons {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.icons {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  color: var(--black);
}

.post-message {
  padding: 0 1rem 1rem 1rem;

  p, span {
    color: var(--black);
    font-size: 0.95rem;
  }

  span {
    font-weight: 500;
  }
}