.container {
  background: var(--white);
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  padding: 0.5rem 1rem;
}

.logo {
  font-family: 'Oleo Script', cursive;
  font-size: 2rem;
  font-weight: 400;
  color: var(--pink);
}

.button-greetings {
  display: flex;
  align-items: center;
}

.plus {
  display: flex;
  border: 2px solid var(--black);
  border-radius: 0.5rem;
  margin-right: 1rem;

  svg {
    stroke: var(--black);
    height: 1.3rem;
    width: 1.3rem;
    cursor: pointer;
  }
}

.user-greetings {
  display: flex;
  align-items: center;

  img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  p {
    margin-left: 0.5rem;
    color: var(--black);
    font-size: 0.9rem;
    font-weight: 500;
  }
}