.container {
  background: var(--white);
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  padding: 0.5rem 1rem;
}

.logo {
  font-family: 'Oleo Script', cursive;
  font-size: 2rem;
  font-weight: 400;
  color: var(--pink);
}

.button-user {
  display: flex;
  align-items: center;

  img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
  }
}

.plus {
  display: flex;
  border: 2px solid var(--black);
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.icons {
  width: 1.15rem;
  height: 1.15rem;
  cursor: pointer;
  color: var(--black);
}