:root {
  --gray-dark: #242423;
  --gray-light: #333533;
  --white: #FEFFFE;
  --pink: #EC368D;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
div#__next {
  height: 100%;
}

body {
  background: var(--gray-dark);
}

body, button, input {
  font-family: 'Poppins', sans-serif;
}

input, button {
  outline: none;
  border: 0;
}

a {
  text-decoration: none;
}