:root {
  --white: #FFFFFF;
  --gray-light: #EDEDED;
  --black: #242424;
  --pink: #EC368D;
  --blue: #39A0ED;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
     font-size: 93.75%; // 15px
  }
  @media (max-width: 720px) {
     font-size: 87.5%; // 14px
  }
}

html,
body,
div#__next {
  height: 100%;
}

body {
  background: var(--gray-light);
}

body, button, input {
  font-family: 'Poppins', sans-serif;
}

input, button {
  outline: none;
  border: 0;
}

a {
  text-decoration: none;
}